#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        th: tap-hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP-HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        b_e: b_e {
            compatible = "zmk,behavior-tap-dance";
            label = "B_E";
            #binding-cells = <0>;
            bindings = <&th N0 E>, <&kp N2>;
        };

        ths: tap-hold-sticky {
            compatible = "zmk,behavior-hold-tap";
            label = "tap-hold-sticky";
            bindings = <&sk>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        thl: tap-hold-layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP-HOLD-LAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        letters {
            bindings = <
&kp Q  &kp W  &kp F  &ths LEFT_SHIFT P  &kp B  &kp J  &kp L  &th DOUBLE_QUOTES U  &th N7 Y  &kp DOT  &th N8 A  &th N5 R  &th NUMBER_3 S  &thl 1 T  &kp G  &kp M  &kp N  &b_e  &th N9 I  &kp O  &kp X  &th NUMBER_4 C  &kp D  &ths LEFT_CONTROL V  &th NUMBER_6 Z  &kp K  &th LEFT_ALT H  &kp COMMA  &kp DOT  &kp DOT  &th ESC TAB  &kp BSPC  &kp SPACE  &kp ENTER
            >;
        };

        symbols {
            bindings = <
&kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &ths LEFT_SHIFT LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp DOT  &kp DOT  &kp DOT  &thl 0 DOT  &trans  &kp DOT  &kp LEFT  &kp UP  &kp RIGHT  &kp DOT  &kp DOT  &kp DOT  &trans  &ths LEFT_CONTROL DOT  &trans  &kp DOT  &kp DOT  &kp DOWN  &kp DOT  &kp DOT  &kp ESC  &kp BSPC  &kp SPACE  &th TAB RET
            >;
        };

        english {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp DOT  &kp A  &kp R  &kp S  &kp T  &kp G  &kp M  &kp N  &kp E  &kp I  &kp O  &kp X  &kp C  &kp D  &kp V  &kp Z  &kp K  &kp H  &kp DOT  &kp DOT  &kp DOT  &kp ESC  &kp BSPC  &kp SPACE  &kp RET
            >;
        };
    };
};
