#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        diacritics_hold: diacritics_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "DIACRITICS_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        b_e: b_e {
            compatible = "zmk,behavior-tap-dance";
            label = "B_E";
            #binding-cells = <0>;
            bindings = <&diacritics_hold N0 E>, <&kp N2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        english {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp DOT  &kp A  &kp R  &kp S  &kp T  &kp G  &kp M  &kp N  &kp E  &kp I  &kp O  &kp X  &kp C  &kp D  &kp V  &kp Z  &kp K  &kp H  &kp DOT  &kp DOT  &kp DOT  &kp ESC  &kp BSPC  &kp SPACE  &kp RET
            >;
        };

        symbols {
            bindings = <
&kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp DOT  &kp DOT  &kp DOT  &kp DOT  &trans  &kp DOT  &kp LEFT  &kp UP  &kp RIGHT  &kp DOT  &kp DOT  &kp DOT  &trans  &trans  &trans  &kp DOT  &kp DOT  &kp DOWN  &kp DOT  &kp DOT  &kp ESC  &kp BSPC  &kp SPACE  &kp RET
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        czech {
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &diacritics_hold U DOUBLE_QUOTES  &diacritics_hold Y N7  &kp DOT  &diacritics_hold A N8  &diacritics_hold R N5  &diacritics_hold S N3  &kp T  &kp G  &kp M  &kp N  &b_e  &diacritics_hold I N9  &kp O  &kp X  &diacritics_hold C N4  &kp D  &kp V  &diacritics_hold Z N6  &kp K  &kp H  &kp DOT  &kp DOT  &kp DOT  &kp ESC  &kp BSPC  &kp SPACE  &kp RET
            >;
        };
    };
};
